
# **Introducci칩n a Python para An치lisis de Datos**
## Cap칤tulo 3: Manipulaci칩n de Datos
---
**Autor:** Juan Martin Bellido  

**Descripci칩n**  
En este cap칤tulo se presentan operaciones t칤picas de manipulaci칩n de datos. Se asume conocimientos b치sicos previos en tratamientos de DataFrames.

**쮽eedback? 쯖omentarios?** Por favor comp치rtelo conmigo escribi칠ndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)  

**Material Adicional**

* [Gu칤a Python Importar/Exportar DataFrames](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/python-importar-exportar)
* [Comandos Jupyter Notebook](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/comandos-rapidos-jupyter)
* [Sintaxis Markdown](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/sintaxis-markdown)


## INDICE
---
1. Agregaci칩n de datos
2. Trabajar con datos hist칩ricos
3. Unir tablas de datos
4. Pivotar tablas de datos
5. Ejercicios

Convenciones utilizadas en este documento
> 游녤 *Esto es una nota u observaci칩n*

> 丘멆잺 *Esto es una advertencia*

# 1. Agregaci칩n de datos
---

En el contexto del an치lisis de datos, *agregar* data significa realizar c치lculos que permitan resumir informaci칩n, abstrayendo conocimiento de data que se encuentra en estado bruto. 

> 游녤 Se trata del ejercicio que hacemos cada vez que utilizamos una tabla din치mica (pivot table) en Excel

Al realizar una agregaci칩n debemos establecer *el tipo de c치lculo que buscamos realizar*. Para ello, utilizamos funciones espec칤ficas: *funciones de agregaci칩n*. 

*Funciones de agregaci칩n*

| Funci칩n     | Descripci칩n                     |
|-------------|---------------------------------|
| count       | Contar filas no nulas           |
| nunique     | Contar valores 칰nicos           |
| sum         | Suma de valores                 |
| mean        | Media aritm칠tica                |
| median      | Mediana                         |
| mode        | Moda                            |
| min         | Valor m칤nimo                    |
| max         | Valor m치ximo                    |

In [ ]:
import pandas as pd

In [ ]:
# importamos df
df_jamesbond = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
df_jamesbond.dtypes

Year                   int64
Actor                 object
Director              object
Box Office           float64
Budget               float64
Bond Actor Salary    float64
dtype: object

### Agregaciones b치sicas

Comenzaremos realizando agregaciones simplemente utilizando funciones de aggregaci칩n sobre dataframes.

```
df.agg_func()
```

In [ ]:
# aplicamos una funci칩n de agregaci칩n sobre el dataframe
df_jamesbond.max()
# obtenemos los valores max para cada una de las variables

Year                           2015
Actor                Timothy Dalton
Director              Terence Young
Box Office                    943.5
Budget                        206.3
Bond Actor Salary              17.9
dtype: object

In [ ]:
# seleccionamos una variable y aplicamos funci칩n de agregaci칩n
df_jamesbond.Budget.sum().round()
# anidamos un .round() para redondear decimales

2099.0

In [ ]:
# seleccionamos una variable y aplicamos funci칩n de agregaci칩n
df_jamesbond.Actor.nunique()
# existen 7 actores de James Bond (칰nicos) en el dataframe

7

### El m칠todo .agg()

Pandas incluye un m칠todo dedicado a agregar data.

```
df.agg({'column':'agg_func'})
```
> 游녤 Utilizamos un *dictionary* para establacer sobre qu칠 variable realizar qu칠 operaci칩n

In [ ]:
# agregamos data utilizando .agg()
df_jamesbond.agg({'Actor':"nunique"})

Actor    7
dtype: int64

In [ ]:
# agregamos la columna "box office", aplicando funciones min(), max() y mean()
df_jamesbond.agg({'Box Office':["min","max","mean"]})
# en este caso, hemos utilizado m치s de una funci칩n de agregaci칩n sobre la misma variable

      Box Office
min   250.900000
max   943.500000
mean  491.611538

In [ ]:
# agregamos m치s de una columna a침adiendo m칰ltiples elementos en nuestro dictionary
df_jamesbond.agg({
    'Budget':["min","max","median"],           
    'Bond Actor Salary':["min","max","median"]   
    })

        Budget  Bond Actor Salary
min       7.00                0.6
max     206.30               17.9
median   60.05                5.5

### Agregaciones agrupadas

Al realizar agregaciones, frecuentemente agrupamos observaciones en una o m치s variables categ칩ricas. 

El m칠todo `.groupby()` permite agrupar observaciones para posteriormente agregar seg칰n grupos.

```
object.groupby("column")
```

In [ ]:
# agregamos dos m칠tricas, seg칰n una variable agrupada
df_jamesbond.groupby("Actor")[["Bond Actor Salary","Box Office"]].max()

                Bond Actor Salary  Box Office
Actor
Daniel Craig                 14.5       943.5
David Niven                   NaN       315.0
George Lazenby                0.6       291.5
Pierce Brosnan               17.9       518.5
Roger Moore                   9.1       535.0
Sean Connery                  5.8       848.1
Timothy Dalton                7.9       313.5

In [ ]:
# repetimos ejercicio utilizando la funci칩n .agg()
df_jamesbond.groupby("Actor").agg(
    {"Bond Actor Salary":"max","Box Office":"max"}
)

                Bond Actor Salary  Box Office
Actor
Daniel Craig                 14.5       943.5
David Niven                   NaN       315.0
George Lazenby                0.6       291.5
Pierce Brosnan               17.9       518.5
Roger Moore                   9.1       535.0
Sean Connery                  5.8       848.1
Timothy Dalton                7.9       313.5

In [ ]:
# agregamos salario m치ximo y media de box office, seg칰n actor
## cambiamos los nombres de las variables agregadas
df = df_jamesbond.groupby("Actor").agg(
    {"Bond Actor Salary":"max","Box Office":"mean"}
).sort_values("Bond Actor Salary", ascending=False)

## muchas veces, los nombres que obtenemos por defecto no son representativos de la informaci칩n que almacenan
df = df.rename(columns={'Bond Actor Salary':'total_bond_salary','Box Office':'total_box_office'})

df # invocamos el objeto

                total_bond_salary  total_box_office
Actor
Pierce Brosnan               17.9        471.650000
Daniel Craig                 14.5        691.475000
Roger Moore                   9.1        422.957143
Timothy Dalton                7.9        282.200000
Sean Connery                  5.8        571.114286
George Lazenby                0.6        291.500000
David Niven                   NaN        315.000000

In [ ]:
# agregamos m칰ltiples m칠tricas utilizando distintas funciones
## al momento de ordenar, debemos utilizar un tuple para poder especificar (i) variable y (ii) funci칩n
df_jamesbond.groupby("Actor").agg(
    {"Bond Actor Salary":["max","sum","mean","size"]
    ,"Budget":["max","min"]}
).sort_values(("Bond Actor Salary","max"),ascending=False) # al ordenar el df, debemos utilizar un "tuple" para definir criterio

               Bond Actor Salary                       Budget
                             max   sum       mean size    max    min
Actor
Pierce Brosnan              17.9  46.5  11.625000    4  158.3   76.9
Daniel Craig                14.5  25.9   8.633333    4  206.3  145.3
Roger Moore                  9.1  16.9   8.450000    7   91.5   27.7
Timothy Dalton               7.9  13.1   6.550000    2   68.8   56.7
Sean Connery                 5.8  20.3   3.383333    7   86.0    7.0
George Lazenby               0.6   0.6   0.600000    1   37.3   37.3
David Niven                  NaN   0.0        NaN    1   85.0   85.0

In [ ]:
# podemos utilizar m치s de una variable al agregar
## en tal caso, las observaciones se agrupar치n seg칰n estos dos campo combinados
df_jamesbond.groupby(["Director","Actor"]).agg(
    {"Box Office":"median"}
)

                                   Box Office
Director           Actor
Guy Hamilton       Roger Moore         397.15
                   Sean Connery        631.45
Irvin Kershner     Sean Connery        380.00
John Glen          Roger Moore         373.80
                   Timothy Dalton      282.20
Ken Hughes         David Niven         315.00
Lee Tamahori       Pierce Brosnan      465.40
Lewis Gilbert      Roger Moore         534.00
                   Sean Connery        514.20
Marc Forster       Daniel Craig        514.20
Martin Campbell    Daniel Craig        581.50
                   Pierce Brosnan      518.50
Michael Apted      Pierce Brosnan      439.50
Peter R. Hunt      George Lazenby      291.50
Roger Spottiswoode Pierce Brosnan      463.20
Sam Mendes         Daniel Craig        835.10
Terence Young      Sean Connery        543.80

# 2. Trabajar con datos hist칩ricos
---
Python no reconoce las fechas como tipo de variable de forma nativa. Para poder operar con ellos, debemos importar librer칤as espec칤ficas.

In [ ]:
import pandas as pd

### Operando con fechas en un DataFrame

In [ ]:
# importamos df
df_amzn = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/amzn_stocks.csv")
df_amzn.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [ ]:
# usamos la funci칩n pd.to_datetime() para convertir una columna en tipo objeto
df_amzn['Date'] = pd.to_datetime(df_amzn['Date'])
df_amzn.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

In [ ]:
# en caso de que Pandas no identifique autom치ticamente el formato de fecha, podemos especificarlo editando un par치metro opcional
df_amzn['Date'] = pd.to_datetime(df_amzn['Date'],format='%Y-%m-%d')
df_amzn.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

In [ ]:
# creamos una nueva columna con el a침o
df_amzn['year'] = df_amzn['Date'].dt.year

In [ ]:
# creamos una nueva columna con el a침o
df_amzn['month'] = df_amzn['Date'].dt.month

In [ ]:
# creamos una nueva columna con el nombre de d칤a
df_amzn['day_name'] = df_amzn['Date'].dt.day_name()

In [ ]:
# nueva columna con el mes (texto)
df_amzn['month_name'] = df_amzn['Date'].dt.month_name()

In [ ]:
# creamos una nueva columna con el n칰mero de semana
df_amzn['week_num'] = df_amzn['Date'].dt.isocalendar().week

In [ ]:
# visualizamos el objeto
df_amzn.head()

,Date,Open,High,Low,Close,Volume,year,month,day_name,month_name,week_num
0,2010-01-04,136.25,136.61,133.14,133.90,7600543,2010,1,Monday,January,1
1,2010-01-05,133.43,135.48,131.81,134.69,8856456,2010,1,Tuesday,January,1
2,2010-01-06,134.60,134.73,131.65,132.25,7180977,2010,1,Wednesday,January,1
3,2010-01-07,132.01,132.32,128.80,130.00,11030124,2010,1,Thursday,January,1
4,2010-01-08,130.56,133.68,129.03,133.52,9833829,2010,1,Friday,January,1

### Agregando data hist칩rica
Podemos agregar data agrupando seg칰n componentes de fecha que hayamos calculado, utiliz치ndolos como variables categ칩ricas.

In [ ]:
# utilizamos los componentes "a침o" y "n칰mero de semana" para agrupar nuestra agregaci칩n
# calculamos la media semanal
df_amzn.groupby(['year','week_num']).agg({'Open':'mean'})

                    Open
year week_num
2010 1          133.3700
     2          129.5660
     3          126.5475
     4          123.5780
     5          118.7220
...                  ...
2017 25        1003.6940
     26         987.3720
     27         967.1325
     28         997.1340
     29        1004.6900

[394 rows x 1 columns]

In [ ]:
# calculamos la media anual
output = df_amzn.groupby('year').agg({'Open':'mean'})
output

            Open
year
2010  138.971036
2011  196.658413
2012  220.011040
2013  297.866270
2014  332.799841
2015  478.123532
2016  699.756587
2017  900.935259

El m칠todo `.shift()` permite tomar el valor de X filas anteriores.

In [ ]:
# utilizamos el m칠todo .shift() para crear una nueva columna que capte el valor del a침o anterior
output['open_1YA'] = output['Open'].shift(1)
output

            Open    open_1YA
year
2010  138.971036         NaN
2011  196.658413  138.971036
2012  220.011040  196.658413
2013  297.866270  220.011040
2014  332.799841  297.866270
2015  478.123532  332.799841
2016  699.756587  478.123532
2017  900.935259  699.756587

In [ ]:
# calculamos crecimiento anual (%)
output['yoy_growth'] = (output['Open'] / output['open_1YA']) - 1
output['yoy_growth'] = output['yoy_growth'].round(2)
output

            Open    open_1YA  yoy_growth
year
2010  138.971036         NaN         NaN
2011  196.658413  138.971036        0.42
2012  220.011040  196.658413        0.12
2013  297.866270  220.011040        0.35
2014  332.799841  297.866270        0.12
2015  478.123532  332.799841        0.44
2016  699.756587  478.123532        0.46
2017  900.935259  699.756587        0.29

# 3. Unir tablas de datos
---
Con frecuencia nos vemos obligados a unir dos o m치s DataFrames. 

Podemos distinguir entre distintas operaciones:
* Unir tablas por filas; llamamos estas operaciones *unions*
* Unir por columnas, seg칰n alg칰n campo en com칰n; llamamos estas operaciones *joins*
* Simplemente unir por columnas, sin ning칰n campo en com칰n

In [ ]:
# importamos df
df_jamesbond = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
df_jamesbond.dtypes

Film                  object
Year                   int64
Actor                 object
Director              object
Box Office           float64
Budget               float64
Bond Actor Salary    float64
dtype: object

### Unir tablas por filas

Uniremos dos dataframes utilizando la funci칩n `pd.concat()`. Nota: los datasets deben contener las mismas columnas.

Unions

In [ ]:
pd.concat([df_jamesbond.head(2),df_jamesbond.tail(2)])

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

### Unir tablas por columnas, seg칰n campos en com칰n

La funci칩n `.merge()` permite instrumentar *joins*; es decir, unir dos DataFrames seg칰n columnas utilizando campo(s) en com칰n. 

> 游녤 El m칠todo `.merge()` permite instrumentar distintos tipos jode joins (left, right, inner, full)

```
df_1.merge(df_2,how='left')
```

> 游녤 En caso de que los *keys* (columnas que usamos para unir) tengan nombres distintos en cada tabla, podemos editar los par치metros `left_on` y `right_on`

```
df_1.merge(df_2,how='inner',left_on='key',right_on='key')
```

In [ ]:
# importamos dataframe con data de albumes
df_albums = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/rolling_stones_top_metal_albums.csv')
df_albums.dtypes

AlbumID_Rank              int64
Artist                   object
Album                    object
Release_Year              int64
Spotify_Album            object
Description              object
wiki                     object
Duration                 object
Minutes                   int64
Seconds                   int64
Total_Seconds             int64
Label                    object
Sub_Metal_Genre          object
Rating                  float64
Rolling_Stone_Rating     object
dtype: object

In [ ]:
# importamos dataframe con data de canciones
df_songs = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/rolling_stones_top_metal_songs.csv')
df_songs.dtypes

Song Index       int64
Song            object
Artist          object
Track No.        int64
AlbumID_Rank     int64
BPM              int64
Energy           int64
Dance            int64
Loud             int64
Valence          int64
Duration        object
Acoustic         int64
Popularity       int64
Spotify_Song    object
dtype: object

In [ ]:
df_songs[['Song','Artist','AlbumID_Rank']].merge(
    df_albums[['AlbumID_Rank','Album','Release_Year']]  # df secundario
    ,how='left'                                         # definimos el criterio en el join, en este caso elegimos "left"
    ,left_on='AlbumID_Rank'                             # definimos la key (columna) en la tabla principal 
    ,right_on='AlbumID_Rank'                            # key en nuestra tabla secundaria
)

,Song,Artist,AlbumID_Rank,Album,Release_Year
0,War Pigs / Luke's Wall - 2014 Remaster,Black Sabbath,1,Paranoid,1970
1,Paranoid - 2016 Remaster,Black Sabbath,1,Paranoid,1970
2,Planet Caravan - 2013 Remaster,Black Sabbath,1,Paranoid,1970
3,Iron Man - 2014 Remaster,Black Sabbath,1,Paranoid,1970
4,Electric Funeral - 2013 Remaster,Black Sabbath,1,Paranoid,1970
...,...,...,...,...,...
1045,Sidewinder,Avenged Sevenfold,100,City of Evil,2005
1046,The Wicked End,Avenged Sevenfold,100,City of Evil,2005
1047,Strength of the World,Avenged Sevenfold,100,City of Evil,2005
1048,Betrayed,Avenged Sevenfold,100,City of Evil,2005
1049,M.I.A.,Avenged Sevenfold,100,City of Evil,2005

### Unir tablas por columnas, sin campos en com칰n

In [ ]:
# importamos df
df_jamesbond = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
df_jamesbond.dtypes

Film                  object
Year                   int64
Actor                 object
Director              object
Box Office           float64
Budget               float64
Bond Actor Salary    float64
dtype: object

In [ ]:
df_1 = df_jamesbond[['Film','Actor','Director']]
df_1.head()

                    Film         Actor       Director
0                 Dr. No  Sean Connery  Terence Young
1  From Russia with Love  Sean Connery  Terence Young
2             Goldfinger  Sean Connery   Guy Hamilton
3            Thunderball  Sean Connery  Terence Young
4          Casino Royale   David Niven     Ken Hughes

In [ ]:
df_2 = df_jamesbond[['Box Office','Budget']]
df_2.head()

   Box Office  Budget
0       448.8     7.0
1       543.8    12.6
2       820.4    18.6
3       848.1    41.9
4       315.0    85.0

In [ ]:
df_3 = df_1.join(df_2)
df_3.head()

                    Film         Actor       Director  Box Office  Budget
0                 Dr. No  Sean Connery  Terence Young       448.8     7.0
1  From Russia with Love  Sean Connery  Terence Young       543.8    12.6
2             Goldfinger  Sean Connery   Guy Hamilton       820.4    18.6
3            Thunderball  Sean Connery  Terence Young       848.1    41.9
4          Casino Royale   David Niven     Ken Hughes       315.0    85.0

# 4. Pivotar tablas de datos
---
En ocasiones, nos encontamos con tablas de datos que estructuran la informaci칩n de forma inadecuada, dificultando la exploraci칩n y manipulaci칩n. Debemos mantener la unidad de observaci칩n lo m치s simple posible, de forma tal de favorecer la interpretaci칩n de la tabla de datos.

### De formato *long* a *wide*

El m칠todo *pivot* nos permite separar una variable en m칰ltiples columnas, convirtiendo una tabla *long* en *wide*.

```
df.pivot(
  index= [] # columnas que no deseamos modificar
  ,columns=[] # columnas que deseamos expandir
  ,values='col_name' # nombre m칠trica
)
```

In [ ]:
# importamos DataFrame
df_dummy_long_table = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/dummy_long_table.csv")
df_dummy_long_table

        country  year        type       count
0   Afghanistan  1999       cases         745
1   Afghanistan  1999  population    19987071
2   Afghanistan  2000       cases        2666
3   Afghanistan  2000  population    20595360
4        Brazil  1999       cases       37737
5        Brazil  1999  population   172006362
6        Brazil  2000       cases       80488
7        Brazil  2000  population   174504898
8         China  1999       cases      212258
9         China  1999  population  1272915272
10        China  2000       cases      213766
11        China  2000  population  1280428583

In [ ]:
# utilizamos el m칠todo .pivot() para convertir tabla "long" en "wide"
df_dummy_long_table.pivot(index='country',columns=['year','type'],values='count')

year           1999                2000
type          cases  population   cases  population
country
Afghanistan     745    19987071    2666    20595360
Brazil        37737   172006362   80488   174504898
China        212258  1272915272  213766  1280428583

### De formato *wide* a *long*

El m칠todo *melt* nos permite agrupar m칰ltiples variables, reduciendo el n칰mero de columnas y aumentando la cantidad de filas.

```
df.melt(
  id_vars = [] # columnas que no deseamos modificar
  ,value_vars = [] # columnas que deseamos agrupar
  ,var_name = 'col_name' # nombre variable categ칩rica
  ,value_name = 'col_name' # nombre m칠trica
)
```

In [ ]:
# importamos tabla de datos
df_dummy_wide_table = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/dummy_wide_table.csv")
df_dummy_wide_table

,China,India,United States,Indonesia,Pakistan,Brazil,Nigeria,Bangladesh,Russia,Mexico
0,1439323776,1380004385,331002651,273523615,220892340,212559417,206139589,164689383,145934462,128932753

In [ ]:
# utilizamos el m칠todo .melt() para convertir df "wide" a "long"
df_dummy_wide_table.melt(var_name='country',value_name='population')

             country  population
0            China    1439323776
1            India    1380004385
2    United States     331002651
3        Indonesia     273523615
4         Pakistan     220892340
5           Brazil     212559417
6          Nigeria     206139589
7       Bangladesh     164689383
8           Russia     145934462
9           Mexico     128932753

# 5. Ejercicios
---
> 游녤 Puedes encontrar las soluciones a los ejercicios [aqu칤](https://nbviewer.org/github/jmartinbellido/Python-Curso-Introductorio/blob/main/Capitulo%203%20Ejercicios.ipynb)

### Ejercicio #1

##### 1.A Calcular suma total de facturaci칩n (revenue), seg칰n sector
##### 1.B Repetir el ejercicio anterior, pero filtrando 칰nicamente por sectores *Technology, Energy y Retailing*

> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
# importamos librer칤a y df
import pandas as pd
df_fortune = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
df_fortune.dtypes

Rank          int64
Company      object
Sector       object
Industry     object
Location     object
Revenue       int64
Profits       int64
Employees     int64
dtype: object

### Ejercicio #2


##### Extrear el top 5 planetas (homeworlds) con mayor n칰mero de personajes inclu칤dos en el dataset.

> Dataset https://data-wizards.s3.amazonaws.com/datasets/starwarsdb_people.csv

In [ ]:
# importamos librer칤a y df
import pandas as pd
df_starwars_people = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/starwarsdb_people.csv")
df_starwars_people.dtypes

name           object
height        float64
mass          float64
hair_color     object
skin_color     object
eye_color      object
birth_year    float64
gender         object
homeworld      object
species        object
sex            object
dtype: object

### Ejercicio #3

##### Agregar las siguiente m칠tricas seg칰n continente,

*   *Poblaci칩n total*
*   *PIB per c치pita medio*
*   *media de % poblaci칩n viviendo por debajo de la l칤nea de la pobreza*

> Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv

In [ ]:
# importamos librer칤a y df
import pandas as pd
df_who = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv')
df_who.dtypes

Country                                                    object
CountryID                                                   int64
ContinentID                                                 int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
Population annual growth rate (%)                         float64
Population in urban areas (%)                             float64
Population living below the poverty line                  float64
Continent                                                  object
dtype: object

### Ejercicio #4

La tabla de datos a importar contiene valores de cotizaci칩n diarios para el Bitcoin. Agregar DataFrame para calcular media mensual de valor de cotizaci칩n de apertura.  

> Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_bitcoin.csv

In [ ]:
# importamos librer칤a y df
import pandas as pd
df_btc = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/dataset_bitcoin.csv')
df_btc.dtypes

date           object
Open          float64
High          float64
Low           float64
Close         float64
volume_BTC    float64
volume_usd    float64
dtype: object